{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "smells"
  ],
  "rules": {
    "no-console": 0,
    "new-cap": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "eol-last": 2,
    "quotes": [2, "single"],
    "jsx-quotes": 1,
    "comma-dangle": [2, "always"],
    "smells/no-switch": 1,
    "smells/no-complex-switch-case": 1,
    "smells/no-setinterval": 1,
    "smells/no-this-assign": 1
  }
}